@import "base/icon";
@import "base/select";

.root .content.theme.green {
  @import "base/colors";
  scrollbar-color: $primary-color #FFF;

  header {
    a[data-testid="h1"] {
      background: $primary-color;
      border: 1px solid $black;
      color: #FFF;
    }
  }
}
