.root .content.theme.green {
  @import "colors";

  header {
    h1 , h1 a { color: $green1; }

    nav .react-select {
      background-color: transparent;
      color: $green1;
    }
    nav .react-select.language {
      ul li {
        background-color: $green1;
        color: $white;
        border: 3px solid darken($green1, 15%);
        border-radius: 5px;
      }
    }
  }

}
