.stalled.icon {
  display: inline-block;
  position: relative;
  left: 7px;
  height: 4px;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 5px;
    animation: stalled 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  div:nth-child(1) {
    left: 12px;
    animation-delay: -0.24s;
  }

  div:nth-child(2) {
    left: 20px;
    animation-delay: -0.12s;
  }

  div:nth-child(3) {
    left: 28px;
    animation-delay: 0;
  }
}

@keyframes stalled {
  0% {
    top: 4px;
    height: 8px;
  }
  50%, 100% {
    top: 8px;
    height: 4px;
  }
}

.root .content.theme {
  .icon {
    cursor: pointer;
  }

  .play.icon,
  .pause.icon {
    height: 16px;
    width: 16px;
    @media (min-width: $breakpoint-xxl) {
      height: 20px;
      width: 20px;
    }
  }

  .refresh.icon,
  .right-arrow.icon {
    height: 16px;
    width: 16px;
  }

  .pause.icon {
    g rect {
      width: 15px;
      height: 40px;
      fill: #FFF;
    }
  }

  ul.stream span {
    .sound-on.icon, .sound-off.icon {
      position: relative;
      top: 2px;
      width: 24px;
      height: 24px;
    }
  }

  footer {
    .sound-on.icon, .sound-off.icon {
      width: 24px;
      height: 24px;

      @media(min-width: $breakpoint-xxl) {
        height: 28px;
        width: 28px;
      }
    }
  }
}

.root .content.theme.rtl {
  .stalled.icon {
    left: 0px;
    right: 7px;
  }

  footer {
    .sound-on.icon,
    .sound-off.icon {
      position: relative;
      bottom: 5px;
    }
    .sound-on.icon,
    .sound-off.icon,
    .play.icon {
      display: inline-block;
      transform: rotate(180deg);
    }
  }
}
