.root .content.theme {
  .green {
    background: #6d765b !important;
  }
  .blue {
    background: #3383C3 !important;
  }

  .react-select {
    .active {
      cursor: pointer;
    }
  }

  .react-select.theme-select {
    .circle {
      width: 16px;
      height: 16px;
      border-radius: 12px;
      background: var(--primary-color);
      border-radius: 10px;
    }
  }

  .react-select.language-select {
    li a {
      background: var(--primary-color);
      color: var(--secondary-color);
      &:active, &:visited, &:link {
        color: var(--secondary-color);
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
}
