.root .content.theme {
  .react-select {
    z-index: 2;
    .active {
      cursor: pointer;
    }
  }

  .react-select.theme-select {
    .circle {
      width: 16px;
      height: 16px;
      border-radius: 12px;
    }
  }

  .react-select.language-select {
    li a {
      border: 1px solid $black;
    }
  }
}
