.root .content.theme.green {
  @import "themes/green/colors";

  .row.details {
    color: $green1;
  }

  ul.body.stream li.ayah {
    span.title span:first-child {
      color: $green1;
    }
  }

  .timer {
    color: $green1;
  }

  .row .shape.refresh {
    background: unset;
    fill: $green1;
  }

  .stalled.icon {
    background: $green1;
  }

  .sound-on.icon, .svg.sound-off.icon {
    polygon {
      fill: $green1;
      stroke-width: 2;
    }
  }
}

.root .content.theme.green.ar {
  @import "themes/green/colors";
}
