.root .content.theme.green {
  @import "breakpoints";
  @import "themes/green/colors";

  ul.body.index a {
    &:active, &:link, &:visited {
      color: $green1;
    }

    @media (hover: hover) {
      &:hover {
        background: $green1;
        color: $white;
      }
    }
  }

  footer {
    @media (max-width: $breakpoint-sm) {
      border-top: 1px solid $green1;
    }

    a {
      &:active, &:link, &:visited {
        color: $green1;
        text-decoration: none;
      }
      &:hover {
        font-weight: bold;
      }
    }
    input {
      border: 1px solid $green1;
      &:focus {
        outline-color: $green1;
      }
    }
  }
}
