.root .content.theme.green {
  @import "themes/green/colors";

  ul.body.index a {
    &:active, &:link, &:visited {
      color: $green1;
    }

    @media (hover: hover) {
      &:hover {
        background: $green1;
        color: $white;
      }
    }
  }

  footer a {
    &:active, &:link, &:visited {
      color: $green1;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
