.root .content.theme.green {
  @import "themes/green/colors";
  @import "themes/green/components/Icon";

  .row.details {
    color: $green;
  }

  ul.body.stream li.ayah {
    span.title span:first-child {
      color: $green;
    }
  }

  .timer {
    color: $green;
  }

  .row .shape.refresh {
    background: unset;
    fill: $green;
  }

  .stalled.icon {
    background: $green;
  }

  .sound-on.icon, .svg.sound-off.icon {
    polygon {
      fill: $green;
      stroke-width: 2;
    }
  }
}

.root .content.theme.green.ar {
  @import "themes/green/colors";

  .row.dropdown-row {
    .surah-name {
      color: lighten($green, 15%);
    }
  }

  ul.body.stream {
  }
}
