.root .content.theme.green {
  @import "themes/green/colors";

  ul.body.index a {
    &:active, &:link, &:visited {
      color: $green1;
    }

    .surah.id {
      background: $green1;
      color: $white;
      border-radius: 5px;
      padding: 3px;
    }
  }

  footer a {
    &:active, &:link, &:visited {
      color: $green1;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
