.root .content.theme.blue.ar {
  direction: rtl;
}

.root .content.theme.blue {
  @import "blue/base/colors";

  .color-primary {
    color: $primary-color;
  }

  .color-secondary {
    color: $secondary-color;
  }

  .color-accent {
    color: $accent-color;
  }

  .react-select.theme {
    .selected {
      .circle {
        background: $primary-color;
        border-radius: 10px;
      }
    }
  }
}

@import "blue/base";
@import "blue/main/SurahIndex";
@import "blue/main/SurahStream";
