:root {
  --theme-blue-primary: rgb(51, 131, 195);
  --theme-blue-secondary: rgb(0, 86, 164);
  --theme-blue-accent: #444;

}

.root .content.theme.blue {
  --primary-color: var(--theme-blue-primary);
  --secondary-color: var(--theme-blue-secondary);
  --accent-color: var(--theme-blue-accent);
}

.root .content.theme {
  .theme-select {
    .blue {
      background: var(--theme-blue-primary);
      border: 1px var(--theme-blue-secondary) solid;
    }
  }
}
