:root {
  --theme-cyan-primary:  rgb(0,139,139);
  --theme-cyan-secondary: rgb(0, 88, 88);
  --theme-cyan-accent: #444;
}

 .root .content.theme.cyan {
  --primary-color: var(--theme-cyan-primary);
  --secondary-color: var(--theme-cyan-secondary);
  --accent-color: var(--theme-cyan-accent);
}

.root .content.theme {
  .theme-select {
    .cyan {
      background: var(--theme-cyan-primary);
      border: 0.1rem var(--theme-cyan-secondary) solid;
    }
  }
}
