.root .content.theme.green.ar {
  @import "green/base/colors";

  direction: rtl;
  .react-select.language {
    .selected-option { color: $primary-color; }
  }
}

.root .content.theme.green {
  @import "green/base/colors";

  .color-primary {
    color: $primary-color;
  }

  .color-secondary {
    color: $secondary-color;
  }

  .color-accent {
    color: $accent-color;
  }

  .react-select.theme {
    .selected-option {
      .circle {
        background: $primary-color;
        border-radius: 10px;
      }
    }
  }
}

@import "green/base";
@import "green/main/SurahIndex";
@import "green/main/SurahStream";
