.surah .leaf.theme {
  $green: #606850;
  $white: #FFF;

  .flex-image {
    .image {
      background-image: url("/images/leaf.svg");
      background-size: cover;
    }
  }

  ul.stream {
    li.ayah {
      span.surah-id.ayah-id {
        color: $green;
      }
      p {
      }
    }
  }

  .about-surah {
    color: $green;
  }

  .timer {
    background-color: $green;
    color: $white;
  }
}

.surah .leaf.theme.ar {
  direction: rtl;
  font-family: "Vazirmatn Regular";
}
