.root-box .surah.theme.moon {
  $gold: darken(#ECB200, 5%);
  $white: #FFF;

  .image-box .image {
    background-image: url("/images/moon.svg");
    background-size: cover;
  }

  .surah-row.theme-language .react-select {
    color: $gold;
  }

  .surah-row.surah-details {
    color: $gold;
  }

  ul.stream {
    li.ayah {
      span.surah-id.ayah-id {
        color: $gold;
      }
      p { }
    }
  }

  .surah-row .timer {
    color: $white;
    background: $gold;
  }

  .surah-row .container.shape {
    background: $gold;
  }
}

.root-box .surah.theme.moon.ar {
  direction: rtl;
  font-family: "Vazirmatn Regular";
}
