.surah .moon.theme {
  $gold: darken(#ECB200, 5%);
  $white: #FFF;

  .flex-image {
    .image {
      background-image: url("/images/moon.svg");
      background-size: cover;
    }
  }

  .flex-row select {
    background-color: transparent;
    color: $gold;
    border: none;
  }

  .about-surah {
    color: $gold;
  }

  ul.stream {
    li.ayah {
      span.surah-id.ayah-id {
        color: $gold;
      }
      p { }
    }
  }

  .timer {
    color: $white;
    background-color: lighten($gold, 5%);
  }
}

.surah .moon.theme.ar {
  direction: rtl;
  font-family: "Vazirmatn Regular";
}
