:root {
  --theme-purple-primary: rgb(128,0,128);
  --theme-purple-secondary: rgb(54, 17, 49);
  --theme-purple-accent: #444;
}

.root .content.theme.purple {
  --primary-color: var(--theme-purple-primary);
  --secondary-color: var(--theme-purple-secondary);
  --accent-color: var(--theme-purple-accent);
}

.root .content.theme {
  .theme-select {
    .purple {
      background: var(--theme-purple-primary);
      border: 0.1rem var(--theme-purple-secondary) solid;
    }
  }
}
