.root .content.theme.green {
  @import "themes/green/base/colors";
  @import "base/breakpoints";

  header {
    h1, h1 a { color: $primary-color; }
    color: $primary-color;
  }

  ul.body.stream {
    li.ayah {
      color: $primary-color;
      p { color: $black; }
    }
  }

  footer {
    .timer {
      color: $primary-color;
    }
  }

  .sound-on.icon, .svg.sound-off.icon {
    polygon {
      fill: $primary-color;
      stroke-width: 2;
    }
  }
}
