<!DOCTYPE html>
<html lang="<%= context.locale %>">
  <head>
    <title><%= t(context.locale, "TheNobleQuran") %></title>
  </head>
  <body>
    <%= inline_json("/slugs.json") %>
    <script src="/js/pages/random.js"></script>
  </body>
</html>
