<!DOCTYPE html>
<html>
  <head>
    <title>Al-Quran: Redirect</title>
  </head>
  <body>
    <script class="surah-id-to-slug" type="application/json">
      <%= File.read(File.join(Dir.getwd, "src", "slugs.json")) %>
    </script>
    <script src="/js/pages/redirect-to-random-surah.js"></script>
  </body>
</html>
