<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("en", "TheNobleQuran") %></title>
    <link rel="canonical" href="https://al-quran.reflectslight.io/en/">
    <%= erb("partials/favicon.html.erb") %>
    <script src="/js/redirect.js"></script>
  </head>
  <body>
  </body>
</html>
