<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("en", "TheNobleQuran") %></title>
    <link rel="icon" href="/favicon.png">
    <script src="/js/pages/redirect.js"></script>
  </head>
  <body>
  </body>
</html>
