<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>Al-Quran: Loading</title>
    <link rel="stylesheet" href="/css/surah.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="surah" data-locale="<%= locale %>" data-surah-id="<%= surah_id %>"></div>
    <script src="/js/pages/surah.js"></script>
  </body>
</html>
