.root .content.theme.moon {
  @import "themes/moon/colors";

  .row.details {
    color: $gold;
  }

  ul.body.stream {
    li.ayah {
      /* TODO "surah.id", "ayah.id" */
      span.surah-id.ayah-id {
        color: $gold;
      }
      p { }
    }
  }

  .row .timer {
    color: $white;
    background: $gold;
  }

  .row .shape {
    background: $gold;
  }

  .row .shape.refresh {
    height: 16px;
    width: 16px;
    background: unset;
    fill: $gold;
  }

  .row svg g {
    polygon {
      stroke: $gold;
      stroke-width: 5;
    }
    path {
      stroke: $gold;
      stroke-width: 5;
    }
  }
}
