root = true

[*.html]
indent_style = space
indent_size = 2

[*.{rb,erb}]
indent_style = space
indent_size = 2

[*.{js,json,ts,tsx}]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2
