@import "base";
@import "themes/blue";
@import "themes/green";
@import "themes/cyan";
@import "themes/purple";
@import "themes/black";

body .root .content.theme {
  ul.body.stream {
    scrollbar-gutter: stable;
    li.ayah.fade {
      @keyframes FadeIn {
        0% { opacity: 0;}
        25% { opacity: 0.25; }
        50% { opacity: 0.5; }
        75% { opacity: 0.75 }
        100% { opacity: 1; }
      }
      animation: FadeIn 1s;
    }
    li.ayah p {
      color: var(--accent-color);
    }
  }
}

body .root .content.theme.ltr {
  footer {
    .sound-on.icon, .sound-off.icon {
      position: relative;
      right: 10px;
    }
  }
}

body .root .content.theme.rtl {
  @media (device-width >= $breakpoint-md) {
    ul.body.stream {
      margin: 0 auto;
      margin-top: 1rem; /* mt-4 = 1rem */
      width: 90%;
    }
  }

  ul.body.stream {
    li.ayah p {
      width: 100%;
    }
  }

  footer {
    .sound-on.icon, .sound-off.icon {
      position: relative;
      right: 10px;
    }
  }
}

body .root .content.theme.rtl.ar {
  ul.body.stream {
    li.ayah p {
      font-family: "Noto Naskh Arabic";
    }
  }
}
