@import "base";
@import "themes/blue";
@import "themes/green";
@import "themes/cyan";

body .root .content.theme {
  ul.body.stream {
    scrollbar-gutter: stable;
    li.ayah.fade {
      @extend .animate__animated;
      animation: fadeIn;
      animation-duration: 1s;
    }
    li.ayah p {
      color: var(--accent-color);
    }
  }
}

body .root .content.theme.ltr {
  footer {
    .sound-on.icon, .sound-off.icon {
      position: relative;
      left: 10px;
    }
  }
}

body .root .content.theme.rtl {
  footer {
    .sound-on.icon, .sound-off.icon {
      position: relative;
      right: 10px;
    }
  }
}

body .root .content.theme.rtl.ar {
  ul.body.stream {
    li.ayah p {
      font-family: "Noto Naskh Arabic";
    }
  }
}
