@import "base";
@import "themes/blue";
@import "themes/green";

body .root .content.theme {
  ul.body.index {
    li, li a {
      color: var(--accent-color);
      @media (max-width: $breakpoint-sm) {
        width: 100%;
      }
    }

    li.surah a {
      &:visited, &:active, &:link {
        text-decoration: none;
      }

      @media (max-width: $breakpoint-sm) {
        span.transliterated, span.ayat {
          display: none;
        }
      }

      @media (hover: hover) {
        &:hover {
          background: rgba(220, 220, 220, 0.25);
        }
      }
    }
  }

  footer {
    a {
      color: var(--accent-color);
      &:active, &:link, &:visited {
        color: var(--accent-color);
      }
      &:hover {
        font-weight: bold;
      }
    }

    input {
      color: var(--accent-color);
      border: 1px solid var(--primary-color);
      &:focus {
        outline-color: var(--primary-color);
      }
    }

    @media(max-width: $breakpoint-sm) {
      border-top: 1px solid #f2f2f2;
      .right-arrow,
      .left-arrow {
        display: none;
      }
      a {
        width: 100%;
        justify-content: center;
      }
    }

    @media(max-width: $breakpoint-sm) {
      input[data-testid="SurahIndex/Filter"] {
        display: none;
      }
    }

    @media(hover: none) {
      input[data-testid="SurahIndex/Filter"] {
        display: none;
      }
    }
  }
}

/**
 * RTL languages
 */
body .root .content.theme.rtl {
  ul.body.index {
    li.surah {
      @media (max-width: $breakpoint-sm) {
        width: 100%;
      }
      span.transliterated { display: none; }
    }
  }
  @media (hover: hover) {
    footer {
      a {
        &:hover {
          font-weight: normal;
          font-family: "Cairo Bold";
        }
      }
    }
  }
}
