@import "base";
@import "themes/blue";
@import "themes/green";

body .root .content.theme {
  ul.body.stream {
    scrollbar-gutter: stable;
    li.ayah.fade {
      .sound-on.icon, .sound-off.icon {
        width: 24px;
        height: 24px;
        g {
          transform: translate(0, 12px);
        }
      }

      @keyframes FadeIn {
        0% { opacity: 0;}
        25% { opacity: 0.25; }
        50% { opacity: 0.5; }
        75% { opacity: 0.75 }
        100% { opacity: 1; }
      }
      animation: FadeIn 1s;
    }
  }

  footer {
    .sound-off.icon, .sound-on.icon {
      transform: translate(0, 7px);
    }
  }
}

/* English-specific rules */
body .root .content.theme.en {
  ul.body.stream {
    .sound-off.icon, .sound-on.icon {
    }
  }
}

/* Arabic-specific rules */
body .root .content.theme.ar {
  font-size: larger;

  header {
    .surah-name {
      flex-direction: row-reverse;
      .transliterated-name {
        display: none;
      }
    }
  }

  ul.body.stream {
    li.ayah {
      .sound-off.icon, .sound-on.icon {
        transform: rotate(180deg);
      }
    }
  }

  footer {
    .timer {
      justify-content: flex-start;
    }
    .sound-box {
      justify-content: flex-start;
    }
  }
}
