@import "base";
@import "themes/blue";
@import "themes/green";

body .root .content.theme {
  ul.body.index {
    li.surah a {
      border-radius: 10px;
      width: 98%;

      &:visited, &:active, &:link {
        text-decoration: none;
      }

      @media (max-width: $breakpoint-sm) {
        height: 45px;
        span.transliterated, span.ayat {
          display: none;
        }
      }
    }
  }

  footer {
    input {
      border-radius: 5px;
    }
    @media(max-width: $breakpoint-sm) {
      a {
        width: 100%;
        justify-content: center;
      }
      .right-arrow, .surah-index-filter {
        display: none;
      }
    }
  }
}


/* English-specific rules */
body .root .content.theme.en {

}

/* Arabic-specific rules */
body .root .content.theme.ar {
  @import "base/breakpoints";
  font-size: larger;

  ul.body.index {
    li.surah {
      span.transliterated { display: none; }
    }
  }
  footer {
    a {
      flex-direction: row-reverse;
    }
  }
}
