.root .content.theme.leaf {
  @import "themes/leaf/colors";

  .row.details {
    color: $green;
  }

  ul.body.stream li.ayah {
    span.title {
      color: $green;
    }
  }

  .timer {
    background-color: $green;
    color: $white-primary;
  }

  .row .shape.refresh {
    background: unset;
    fill: $green;
  }

  .row .loading div {
    background: $green;
  }

  .svg.sound-on, .svg.sound-off {
    polygon {
      fill: $green;
      stroke-width: 2;
    }
  }
}

.root .content.theme.leaf.ar {
  @import "themes/leaf/colors";

  ul.body.stream {
  }
}
