.root .content.theme.leaf {
  @import "themes/leaf/colors";
  @import "themes/leaf/components/Icon";

  .row.details {
    color: $green;
  }

  ul.body.stream li.ayah {
    span.title {
      color: $green;
    }
  }

  .timer {
    color: $green;
  }

  .row .shape.refresh {
    background: unset;
    fill: $green;
  }

  .stalled.icon {
    background: $green;
  }

  .sound-on.icon, .svg.sound-off.icon {
    polygon {
      fill: $green;
      stroke-width: 2;
    }
  }
}

.root .content.theme.leaf.ar {
  @import "themes/leaf/colors";

  ul.body.stream {
  }
}
