.root .surah-index.content.theme.blue {
  @import "themes/blue/base/colors";
  @import "base/breakpoints";

  ul.body.index {
    li.surah a {
      color: $black;
      span.id {
        color: $secondary-color;
      }
    }
  }

  footer {
    a {
      &:active, &:link, &:visited {
        color: $black;
        text-decoration: none;
      }
      &:hover {
        font-weight: bold;
      }
    }
    input {
      color: $black;
      border: 1px solid $secondary-color;
      &:focus {
        outline-color: $secondary-color;
      }
    }
  }
}

.root .content.theme.blue.en {
  @import "themes/blue/base/colors";
  header {
    div {
      color: $secondary-color;
    }
  }
}

.root .content.theme.blue.rtl {
  @import "themes/blue/base/colors";
  ul.body.index  {
    li.surah a {
      span.id {
        background: $secondary-color;
        color: $white;
      }
    }
  }
}
