.root .content.theme {
  .react-select {
    display: flex;
    flex-direction: column;

    height: 20px;
    z-index: 3;

    .selected-option {
      cursor: pointer;
    }

    ul {
      margin: 0;
      padding: 0;
      height: 0;
      background: #fff;
      list-style-type: none;
    }

    ul li {
      height: 100%;
      width: 100%;
      font-weight: normal;
      cursor: pointer;
      background: #fff;
    }
  }

  .react-select.language {
    flex-direction: column;
    justify-content: flex-end;

    .selected-option.ar {
      font-size: large;
    }

    ul {
      height: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
        height: 30px;
        min-width: 125px;
      }

      li.en {
        font-family: "Kanit Regular";
        font-weight: normal;
      }

      li.ar {
        display: flex;
        align-items: center;
        justify-content: end;
        font-family: "Amiri Quran Regular";
        font-size: large;
      }
    }
  }

  .react-select.theme {
    .selected-option {
      .circle {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }

    ul {
      border: none;
      height: 0;
      width: 50px;
    }

    ul li {
      display: flex;
      height: 20px;
      align-items: flex-end;
      justify-content: flex-end;
      .circle {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 16px;
      }
    }
  }
}

.content.theme.en {
  .react-select.language {
    ul {
      li.en {
        display: none;
      }
    }
  }
}

.content.theme.ar {
  .react-select.language {
    ul {
      li {
        align-items: center;
        justify-content: flex-end;
      }
      li.ar {
        display: none;
      }
    }
  }
}
