.shape {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #606850;
  cursor: pointer;

}

.shape .play-shape {
  position: relative;
  left: 1px;
  width: 12px;
  height: 12px;
  background: #FFF;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.shape .pause-shape {
  width: 3px;
  height: 12px;
  background: #FFF;
  clip-path: stroke-box;

  &:first-child {
    position: relative;
    right: 2px;
  }

  &:last-child {
    position: relative;
    left: 1.5px;
  }
}

.loading {
  display: inline-block;
  position: relative;
  width: 4px;
  height: 4px;
  right: 38px;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 6px;
    animation: loading 0.8s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  div:nth-child(1) {
    left: 12px;
    animation-delay: -0.24s;
  }

  div:nth-child(2) {
    left: 20px;
    animation-delay: -0.12s;
  }

  div:nth-child(3) {
    left: 28px;
    animation-delay: 0;
  }
}

@keyframes loading {
  0% {
    top: 4px;
    height: 8px;
  }
  50%, 100% {
    top: 8px;
    height: 4px;
  }
}
