.content.theme.blue {
  @import "themes/blue/colors";

  .footer {
    .play.icon {
      fill: $blue1;
      stroke: darken($blue1, 40%);
      stroke-width: 2px;
    }

    .pause.icon {
      background: unset;
      rect {
        fill: $blue1;
        stroke: darken($blue1, 40%);
        stroke-width: 1px;
      }
    }

    .refresh.icon {
      background: unset;
      fill: $blue1;
    }

    .sound-on.icon, .sound-off.icon {
      polygon {
        fill: $blue1;
        stroke-width: 2;
      }
    }
  }

  .stalled.icon {
    div { background: $gold2; }
  }
}
