.content.theme {
  @import "themes/blue/colors";
  .react-select.theme {
    .selected-option.blue .circle {
      background: $blue1;
    }
    ul li.blue .circle {
      background: $blue1;
    }
  }
}

.content.theme.blue {
  .react-select.theme {
    ul li.blue { display: none; }
  }
}
