.content.theme {
  @import "themes/blue/colors";

  .react-select.theme {
    .selected-option.blue .circle {
      background: $blue1;
    }
    ul li.blue .circle {
      background: $blue1;
    }
  }
}

.content.theme.blue {
  @import "themes/blue/colors";

  .react-select.language {
    .selected-option {
      color: $blue1;
    }
  }

  .react-select.theme {
    ul li.blue { display: none; }
  }

  .react-select.language ul {
    li {
      color: $blue1;
    }
  }
}

.content.theme.blue.ar {
  @import "themes/blue/colors";

  .row.details {
    .localized-name {
      color: $blue1;
    }
  }
}
