.content.theme.blue {
  @import "themes/blue/base/colors";

  ul.body.stream li, footer {
    .play.icon {
      fill: $primary-color;
      stroke: $secondary-color;
      stroke-width: 2px;
    }

    .pause.icon {
      path {
        fill: $primary-color;
        stroke: $secondary-color;
        stroke-width: 1px;
      }
    }

    .refresh.icon {
      fill: $primary-color;
    }

    .sound-on.icon, .sound-off.icon {
      polygon {
        fill: $primary-color;
        stroke-width: 2;
      }
    }
    .right-arrow.icon,
    .left-arrow.icon {
      g {
        fill: $secondary-color;
      }
    }
  }

  .stalled.icon {
    div { background: $secondary-color; }
  }
}
