.content.theme {
  @import "themes/blue/base/colors";
  .blue {
    background: $primary-color;
  }
}

.content.theme.blue {
  @import "themes/blue/base/colors";

  .react-select.theme-select {
    .active .circle {
      background: $primary-color;
    }
    ul li.blue .circle {
      background: $primary-color;
    }
  }

  .react-select.language-select {
    li a {
      background: $secondary-color;
      color: $white;
      &:active, &:visited, &:link {
        color: $white;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
}
