.content.theme {
  @import "themes/blue/base/colors";

  .react-select.theme {
    .selected-option .circle {
      background: $primary-color;
    }
    ul li.blue .circle {
      background: $primary-color;
    }
  }
}

.content.theme.blue {
  @import "themes/blue/base/colors";

  .react-select.language {
    .selected-option {
      color: $primary-color;
    }
  }

  .react-select.theme {
    ul li.blue {
      display: none;
    }
  }

  .react-select.language ul {
    li {
      color: $primary-color;
    }
  }
}
