<!DOCTYPE html>
<html>
  <head>
    <title>Al-Quran: redirect</title>
    <link rel="canonical" href="<%= redirect_url %>">
    <meta http-equiv="refresh" content="0; url=<%= redirect_url %>">
  </head>
  <body>
  </body>
</html>
