<!DOCTYPE html>
<html>
  <head>
    <title>Al-Quran: redirect</title>
    <link
      rel="canonical"
      href="https://al-quran.reflectslight.io/<%= locale %>/<%= surah_name %>/">
  </head>
  <body>
    <%= inline_json('/slugs.json') %>
    <script src="/js/pages/surah/id_redirect.js"></script>
  </body>
</html>
