<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title>Al-Quran: Loading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style class="webpackage"><%= items["/css/webpackage.scss"].compiled_content %></style>
  </head>
  <body>
    <div class="webpackage loader">
      <div>
        <progress value="0" max="100"></progress>
        <span class="percentage">Loading...</span>
      </div>
    </div>
    <div class="root" data-locale="<%= locale %>"></div>
    <script src="/js/pages/surah/index/loader.js"></script>
    <script class="i18n" type="application/json">
      <%= items["/i18n.json"].compiled_content %>
    </script>
  </body>
</html>
