.content.theme.green {
  @import "themes/green/colors";

  ul.body.stream li, .footer {
    .play.icon {
      background: unset;
      g path {
        fill: $green1;
        stroke: $green1;
        stroke-width: 3px;
      }
    }

    .pause.icon {
      background: unset;
      g rect {
        fill: $green1;
        stroke: $green1;
        stroke-width: 1px;
      }
    }

    .refresh.icon {
      background: unset;
      fill: $green1;
    }

    .sound-on.icon, .sound-off.icon {
      g polygon {
        fill: $green1;
      }
    }
  }

  .stalled.icon {
    div { background: $green1; }
  }
}
