.content.theme {
  @import "themes/green/colors";
  .react-select.theme {
    .selected-option.green .circle {
      background: $green1;
    }
    ul li.green .circle {
      background: $green1;
    }
  }
}

.content.theme.green {
  .react-select.theme {
    ul li.green { display: none; }
  }
}
