.root .content.theme.leaf {
  @import "themes/leaf/colors";

  ul.body.index a {
    &:active, &:link, &:visited {
      color: $green;
    }

    .surah.id {
      background: $green;
      color: $white;
      border-radius: 5px;
      padding: 3px;
    }
  }

  .row.surah.choose-random {
    &:active, &:link, &:visited {
      color: $green;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
