.root .content.theme.leaf {
  @import "themes/leaf/colors";

  .row.details {
    color: $green;
  }

  ul.body.stream li.ayah {
    span.surah-id.ayah-id {
      color: $green;
    }
    p { }
  }

  .timer {
    background-color: $green;
    color: $white;
  }
}
