.root .content.theme.leaf {
  @import "~/themes/leaf/colors";

  .row.details {
    color: $green;
  }

  ul.body.stream li.ayah {
    span.surah-id.ayah-id {
      color: $green;
    }
    p { }
  }

  .timer {
    background-color: $green;
    color: $white;
  }

  .row svg g {
    polygon {
      stroke: $green;
      stroke-width: 5;
    }
    path {
      stroke: $green;
      stroke-width: 5;
    }
  }
}
