##
# /etc/rc.conf
rc:
  hostname: <hostname>

##
# nginx
nginx:
  root: <path>
  user: <username>
  worker:
    process_count: <x>
    conn_count: <y>
  logs:
    errors: <path>
    access: <path>
  ssl:
    cert: <path>
    cert_key: <path>

##
# pf (firewall)
pf:
  iface: <interface>
  pass:
    in:
      - from: any
        to: <rc.hostname>
        proto: tcp
        port: 80
    out:
      - to: <trusted_host>
        proto: <protocol>
        port: <port>
