@import "layout";
@import "components/Select";

ul.body.index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;

  li.surah {
    width: 100%;
    margin-bottom: 10px;
  }

  li.surah a {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:visited, &:active, &:link {
      text-decoration: none;
    }

    div:first-child {
      display: flex;
      flex-direction: row;
      height: 32px;

      span {
        display: flex;
        align-items: center;
      }

      span.id {
        flex-direction: row;
        justify-content: center;
        width: 32px;
        height: 32px;
        text-align: center;
        font-weight: bold;
      }

      span.name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        width: 210px;
        font-weight: normal;
      }
    }

    .transliterated {
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: center;
      font-weight: normal;
      @media screen and (max-width: $max-width) {
        display: none;
      }
    }
  }
}

body .root .content .row.surah.choose-random {
  display: flex;
  place-content: center;
}

body .root .content.theme.en {
  ul.body.index li.surah {
    a div:first-child .id {
      margin-right: 5px;
    }
  }
}

body .root .content.theme.ar {
  font-size: larger;
  ul.body.index {
    li.surah {
      a div:first-child .id {
        width: 40px;
        margin-left: 8px;
      }
      a div:first-child .name {
        font-size: large;
      }
      .transliterated { display: none; }
    }

  }

}

@import "themes/moon";
@import "themes/leaf";
