@import "layout";
@import "components/Select";
@import "components/Shape";

.content .row.details {
  direction: rtl;
  margin-top: 10px;
  font-weight: 500;
}

.content ul.body.stream {
  scrollbar-gutter: stable;

  li.ayah {
    span.title {
      display: flex;
      align-items: center;
    }
    .svg.sound-on, .svg.sound-off {
      cursor: pointer;
      height: 24px;
      width: 24px;
      g { transform: translate(0px, 18px); }
    }
    p {
      width: 100%;
      margin: 3px 0 10px 0
    }
  }

  li.ayah.fade {
    @keyframes FadeIn {
      0% { opacity: 0;}
      25% { opacity: 0.25; }
      50% { opacity: 0.5; }
      75% { opacity: 0.75 }
      100% { opacity: 1; }
    }
    animation: FadeIn 1s;
  }
}

.content .row.footer {
  .timer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 65%;
    font-family: "Kanit Regular";
    text-align: center;
    width: 40px;
    height: 32px;
    font-weight: bold;
    border-radius: 5px;
  }

  .shape {
    width: 40px;
    height: 32px;
  }

  .svg.sound-on, .svg.sound-off {
    width: 32px;
    height: 32px;
    cursor: pointer;
    g { transform: translate(16px, 16px); }
  }

  .shape.refresh {
    height: 16px;
    width: 16px;
  }
}

.justify-end {
  justify-content: flex-end !important;
}

.content.theme.ar {
  .row.details  {
    place-content: flex-end;
    span[lang="en"] {
      display: none;
    }
  }

  ul.body.stream {
    li.ayah {
      p {
        font-size: larger;
        font-weight: normal;
      }
    }
  }

  .row.footer .timer {
    position: relative;
    top: 2px;
  }

  .svg.sound-on, .svg.sound-off {
    transform: rotate(180deg);
  }
}

@import "themes/moon";
@import "themes/leaf";
