@import "layout";
@import "components/Select";
@import "components/Icon";

body .root .content.theme {
  ul.body.stream {
    scrollbar-gutter: stable;
    li.ayah.fade {
      @keyframes FadeIn {
        0% { opacity: 0;}
        25% { opacity: 0.25; }
        50% { opacity: 0.5; }
        75% { opacity: 0.75 }
        100% { opacity: 1; }
      }
      animation: FadeIn 1s;
    }
  }

  footer {
    .sound-off.icon, .sound-on.icon {
      transform: translate(0, 7px);
    }
  }
}

/* English-specific rules */
body .root .content.theme.en {
  ul.body.stream {
    .sound-off.icon, .sound-on.icon {
      transform: translate(0, 10px);
    }
  }
}

/* Arabic-specific rules */
body .root .content.theme.ar {
  font-size: larger;

  header {
    .surah-name {
      flex-direction: row-reverse;
      .transliterated-name {
        display: none;
      }
    }
  }

  ul.body.stream {
    li.ayah {
      .title {
        display: block;
        margin-bottom: 5px;
      }
      .sound-off.icon, .sound-on.icon {
        transform: rotate(180deg) translate(0, -4px);
      }
    }
  }

  footer {
    .timer {
      justify-content: flex-start;
    }
    .sound-box {
      justify-content: flex-start;
    }
  }
}

@import "themes/blue";
@import "themes/green";
@import "vendor/tail";
