@import "layout";
@import "components/Select";
@import "components/Icon";
@import "components/Scrollbar";

body .root .content.theme {
  height: 75%;
  @media (max-device-height: 667px) {
    height: 70%;
  }
  @media (min-device-height: 1024px) {
    height: 80%;
  }

  header {
    .react-select.language {
      ul li {
        border-radius: 15px;
      }
    }
  }

  ul.body.index {
    li.surah a {
      display: flex;
      align-items: center;
      border-radius: 10px;
      min-height: 45px;
      width: 98%;

      &:visited, &:active, &:link {
        text-decoration: none;
      }

      span.id {
        width: 45px;
        font-weight: bolder;
        font-size: large;
        text-align: center;
      }

      span.name {
        font-weight: normal;
      }

      span.transliterated {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 0 10px 0 0;
        @media screen and (max-width: $max-width) {
          display: none;
        }
      }
    }
  }

  footer {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      span {
        padding: 0 0 0 7px;
      }
    }
  }
}


body .root .content.theme.en {
  ul.body.index li.surah {
  }
}

body .root .content.theme.ar {
  font-size: larger;

  ul.body.index {
    li.surah {
      a {
        font-family: "Mada Regular";
        span.id {
          font-size: x-large;
        }
        span.name {
          font-size: x-large;
        }
        span.transliterated { display: none; }
      }
    }
  }

  footer {
    font-family: "Mada Regular";
    a span {
      padding: 0 7px 0 0;
    }
  }
}

@import "themes/blue";
@import "themes/green";
