@import "layout";
@import "components/Select";
@import "components/Icon";

.content ul.body.stream {
  scrollbar-gutter: stable;

  li.ayah {
    span.title {
      display: flex;
      align-items: center;
    }
    .svg.sound-on, .svg.sound-off {
      cursor: pointer;
      height: 24px;
      width: 24px;
      g { transform: translate(0px, 18px); }
    }
    p {
      width: 100%;
      margin: 0;
    }
  }

  li.ayah.fade {
    @keyframes FadeIn {
      0% { opacity: 0;}
      25% { opacity: 0.25; }
      50% { opacity: 0.5; }
      75% { opacity: 0.75 }
      100% { opacity: 1; }
    }
    animation: FadeIn 1s;
  }
}

.content footer {
  .timer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 24px;
    width: 40px;
    font-family: "Kanit Regular";
    text-align: center;
    font-weight: bold;
    font-size: large;
  }
}

.justify-end {
  justify-content: flex-end !important;
}

.content.theme.en {
  ul.body.stream {
    li.ayah {
      p {
        min-height: 35px;
      }
    }
  }
}

.content.theme.ar {
  .row.details {
    justify-content: flex-end;
    .localized-name {
      display: flex;
      width: 180px;
      font-size: x-large;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .transliterated-name {
      display: none;
    }
  }

  ul.body.stream {
    li.ayah {
      span.title {
        font-size: x-large;
        height: 0;
        min-height: 50px;
      }
      p {
        font-size: x-large;
        font-weight: normal;
        min-height: 70px;
      }
    }
  }
}

@import "themes/blue";
@import "themes/green";
