@import "layout";
@import "components/Select";
@import "components/Icon";

body .root .content.theme {
  ul.body.index {
    li.surah a {
      display: flex;
      justify-content: space-between;
      min-height: 45px;

      &:visited, &:active, &:link {
        text-decoration: none;
      }

      div:first-child {
        display: flex;
        flex-direction: row;
        height: 32px;

        span {
          display: flex;
          align-items: center;
        }

        span.id {
          flex-direction: row;
          justify-content: center;
          width: 32px;
          height: 32px;
          text-align: center;
          font-weight: bold;
        }

        span.name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: normal;
        }
      }

      .transliterated {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        font-weight: normal;
        @media screen and (max-width: $max-width) {
          display: none;
        }
      }
    }
  }

  footer {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      span {
        padding: 0 0 0 7px;
      }
    }
  }
}


body .root .content.theme.en {
  ul.body.index li.surah {
  }
}

body .root .content.theme.ar {
  font-size: larger;

  ul.body.index {
    height: 70%;
    li.surah a {
      div:first-child .id {
        position: relative;
        top: 7px;
        font-family: "Kanit Regular";
        font-size: large;
        width: 55px;
      }
      div:first-child .name {
        font-size: larger;
      }
      .transliterated { display: none; }
    }
  }

  footer {
    height: 40px;
    font-family: "Mada Regular";
    a span {
      padding: 0 7px 0 0;
    }
  }
}

@import "themes/blue";
@import "themes/green";
