@import "../layout";
@import "../components/Select";
@import "../components/TheSurahPage/Shape";

.content .row.theme-and-language {
  .react-select.language {
    text-align: right;

    li:first-child { font-family: "Vazirmatn Regular"; }
    li:last-child { font-family: "Kanit Regular"; }
  }
}

.content .row.details {
  direction: rtl;
  margin-top: 10px;
  font-weight: 500;
}

.content ul.stream {
  clear: both;
  list-style-type: none;
  height: 400px;
  padding: 0;
  overflow: hidden;

  /* Height of 625px, or less */
  @media screen and (max-height: 625px) {
    height: 350px;
  }

  /* Height of 595px, or less */
  @media screen and (max-height: 595px) {
    height: 330px;
  }

  li.ayah {
    span.surah-id.ayah-id {
      display: block;
      font-weight: 500;
    }
    p {
      margin: 3px 0 10px 0
    }
  }

  li.ayah.fade {
    @keyframes FadeIn {
      0% { opacity: 0;}
      25% { opacity: 0.25; }
      50% { opacity: 0.5; }
      75% { opacity: 0.75 }
      100% { opacity: 1; }
    }
    animation: FadeIn 1s;
  }
}

.content ul.stream.scroll-y {
  overflow-y: auto;
  li.ayah p { width: 98%; }
}

.content .timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 65%;
  font-family: "Kanit Regular";
  text-align: center;
  width: 32px;
  height: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  position: relative;
  top: 4px;
}

.content.ar .timer {
  position: relative;
  top: 2px;
}

@import "../themes/moon";
@import "../themes/leaf";
