<!DOCTYPE html>
<html lang="<%= context.locale %>">
  <head>
    <title><%= t(context.locale, "TheNobleQuran") %></title>
    <%= erb("_favicon.html.erb") %>
  </head>
  <body>
    <script src="/js/main/random.js"></script>
  </body>
</html>
