.root .content.theme.moon {
  @import "themes/moon/colors";
  @import "themes/moon/components/Icon";

  .row.details {
    color: $gold-primary;
  }

  .row.footer .timer {
    color: $blue-primary;
  }

  ul.body.stream {
    li.ayah {
      span.title span {
        color: $gold-primary;
      }
      p { }
    }
  }
}

.root .content.theme.moon.ar {
  @import "themes/moon/colors";

  .row.dropdown-row {
    line-height: 30px;
    span.surah-name {
      color: lighten($gold-primary, 25%);
    }
  }
}
