.root .content.theme.moon {
  @import "themes/moon/colors";

  .row.title {
    justify-content: center;
  }

  ul.body.index li.surah a {
    &:active, &:link, &:visited {
      color: $blue-primary;
    }

    div:first-child .id {
      color: $gold-secondary;
    }
  }

  .row.surah.choose-random {
    &:active, &:link, &:visited {
      color: $blue-primary;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
