.root .content.theme.moon {
  @import "themes/moon/colors";

  .row.title {
    justify-content: center;
  }

  ul.body.index a {
    &:active, &:link, &:visited {
      color: $blue;
    }

    .surah.id {
      background: $gold-light;
      color: $white;
      border-radius: 5px;
      padding: 3px;
      border: 1px solid $blue;
    }
  }

  .row.surah.choose-random {
    &:active, &:link, &:visited {
      color: $blue;
      text-decoration: none;
    }
    &:hover {
      font-weight: bold;
    }
  }
}
