@import "layout";
@import "components/Select";
@import "components/Shape";

.content .row.details {
  direction: rtl;
  margin-top: 10px;
  font-weight: 500;
}

.content ul.body.stream {
  scrollbar-gutter: stable;

  li.ayah {
    span.surah-id.ayah-id {
      display: block;
      font-weight: 500;
    }
    p {
      margin: 3px 0 10px 0
    }
  }

  li.ayah.fade {
    @keyframes FadeIn {
      0% { opacity: 0;}
      25% { opacity: 0.25; }
      50% { opacity: 0.5; }
      75% { opacity: 0.75 }
      100% { opacity: 1; }
    }
    animation: FadeIn 1s;
  }
}

.content ul.body.stream {
  li.ayah p { width: 100%; }
}

.content .timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 65%;
  font-family: "Kanit Regular";
  text-align: center;
  width: 32px;
  height: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px;
  position: relative;
  top: 4px;
}

.content.ar .timer {
  position: relative;
  top: 2px;
}

@import "themes/moon";
@import "themes/leaf";
