.content.theme.green {
  @import "themes/green/base/colors";

  ul.body.stream li, footer {
    .play.icon {
      g path {
        fill: $primary-color;
        stroke: $primary-color;
        stroke-width: 3px;
      }
    }

    .pause.icon {
      g path {
        fill: $primary-color;
        stroke: $primary-color;
        stroke-width: 1px;
      }
    }

    .refresh.icon {
      fill: $primary-color;
    }

    .sound-on.icon, .sound-off.icon {
      g polygon {
        fill: $primary-color;
      }
    }
    .right-arrow.icon,
    .left-arrow.icon {
      g {
        fill: $primary-color;
      }
    }
  }

  .stalled.icon {
    div { background: $primary-color; }
  }
}
