.content.theme {
  @import "themes/green/base/colors";
  .react-select.theme {
    .selected.green .circle {
      background: $primary-color;
    }
    ul li.green .circle {
      background: $primary-color;
    }
  }
}

.content.theme.green {
  .react-select.theme {
    ul li.green { display: none; }
  }
}
