.content.theme {
  @import "themes/green/base/colors";
  .green {
    background: $primary-color;
  }
}

.content.theme.green {
  @import "themes/green/base/colors";

  .react-select.theme-select {
    .active {
      .circle {
        background: $primary-color;
        border-radius: 10px;
      }
    }
  }

  .react-select.language-select {
    li a {
      background: $primary-color;
      color: $white;
      &:active, &:visited, &:link {
        color: $white;
      }
    }
  }
}
