@import "base/colors";
$max-width: 768px;

html[lang="en"], .ltr {
  font-family: "Kanit Regular";
}

html[lang="ar"], .rtl {
  font-family: "Mada Regular";
}

html[lang="fa"] {
  // FIXME: add font for farsi?
  font-family: "Mada Regular";
}

html {
  height: 100%;
}

html body {
  color: $black;
  height: 100%;
  margin: 0;
}

body .root {
  height: 100%;
}

body .root .content.theme {
  margin: 0 auto;
  width: 85%;
  max-width: $max-width;

  .scroll-y {
    overflow-y: auto !important;
  }
}

body .root .content {
  h1 {
    font-size: x-large;
  }
  header {
    nav, div {
      font-size: large;
    }
  }
  ul.body {
    font-size: large;
  }
  footer {
    font-size: large;
  }
}

/**
 * RTL languages
 */
body .root .content.theme.rtl {
  @import "base/breakpoints";

  @media (min-width: $breakpoint-xxl) {
    header {
      h1 {
        font-size: xx-large;
      }
    }

    ul.body.stream {
      li.ayah {
        font-size: larger;
      }
    }

    ul.body.index {
      li.surah a {
        span:last-child {
          font-size: larger;
        }
      }
    }

    footer {
      .timer {
        font-size: larger;
      }
    }
  }
}

.invisible, .hidden {
  display: none !important;
}

.outline-0 {
  outline: 0 !important;
}

@import "vendor/tail";
@import "base/breakpoints";
@import "base/icon";
@import "base/select";
