@font-face {
  font-family: "Vazirmatn Regular";
  src: url('/quran/fonts/vazirmatn-regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "Kanit Regular";
  src: url('/quran/fonts/kanit-regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "Roboto Mono Regular";
  src: url('/quran/fonts/roboto-mono-regular.ttf') format('truetype');
  font-display: block;
}
