$black: #454545;
$max-width: 856px;

html[lang="en"] {
  font-family: "Kanit Regular";
}

html[lang="ar"] {
  font-family: "Amiri Quran Regular";
}

html {
  height: 100%;
}

html body {
  color: $black;
  height: 100%;
  margin: 0;
}

body .root {
  height: 100%;
}

body .root .content.theme {
  margin: 0 auto;
  height: 100%;
  width: 85%;
  max-width: $max-width;

  header {
    h1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: xx-large;
      margin: 0;
      line-height: 1.5;

      a {
        text-decoration: none;
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      min-height: 35px;

      .react-select {
        display: flex;
        justify-content: center;
      }

      .react-select.theme {
        min-width: 35px;
      }

      .react-select.language {
        min-width: 70px;
        text-align: right;
        li { font-family: "Kanit Regular"; }
      }
    }
  }

  ul.body {
    clear: both;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 73%;
    padding: 0 0 30px 0;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .br {
      width: 100%;
    }
  }
}

body .root .content.en {
  h1 {
    font-size: x-large;
  }
}

body .root .content.ar {
  header {
    div {
      direction: ltr;
      .localized-name {
        display: flex;
        font-size: x-large;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
      }
      .transliterated-name {
        display: none;
      }
    }
  }

  footer {
    flex-direction: row-reverse;
  }
}

.invisible {
  display: none !important;
}
