@import "fonts";

$black: #454545;

html {
  height: 100%;
}

body {
  font-family: "Kanit Regular";
  color: $black;
  height: 85%;
}

.surah {
  height: 100%;
}

.surah .theme {
  margin: 0 auto;
  width: 450px;
  height: 100%;

  @media screen and (max-width: 450px) {
    width: 350px;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    direction: ltr;

    select {
      padding: 3px 0 3px 0;
      outline: none;
      direction: ltr;
    }

    select:first-child {
      text-align: left;
    }

    select:last-child {
      text-align: right;
    }
  }

  .timer {
    margin: 0 auto;
    font-size: 65%;
    font-family: "Roboto Mono Regular";
    text-align: center;
    width: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
  }

  .flex-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0 25px 0;

    .image {
      height: 78px;
      width: 78px;
    }
  }

  .about-surah {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
  }

  ul.stream {
    clear: both;
    list-style-type: none;
    height: 400px;
    padding: 0;
    overflow: hidden;

    /* Height of 625px, or less */
    @media screen and (max-height: 625px) {
      height: 350px;
    }

    /* Height of 595px, or less */
    @media screen and (max-height: 595px) {
      height: 330px;
    }

    li.ayah {
      span.surah-id.ayah-id {
        display: block;
        font-weight: 500;
      }
      p {
        margin: 3px 0 10px 0
      }
    }
  }

  ul.stream.scroll-y {
    overflow-y: auto;
  }
}

@keyframes FadeIn {
  0% { opacity: 0;}
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75 }
  100% { opacity: 1; }
}

.fade {
  animation: FadeIn 1s;
}

@import "themes/moon";
@import "themes/leaf";
