.root .content.theme.blue {
  @import "themes/blue/colors";

  ul.body.index li.surah a {
    &:active, &:link, &:visited {
      color: $blue1;
    }

    div:first-child {
      .id { color: $gold1; }
    }
  }

  footer {
    a {
      &:active, &:link, &:visited {
        color: $blue1;
        text-decoration: none;
      }
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.root .content.theme.blue.en {
  @import "themes/blue/colors";
  header {
    div {
      color: $gold1;
    }
  }
}

.root .content.theme.blue.ar {
  @import "themes/blue/colors";
  ul.body.index  {
    li.surah a {
      div:first-child .id {
        color: $gold1;
      }
      div:first-child .name {
        color: $blue1;
      }
    }
  }
}
