.root .content.theme.blue {
  @import "themes/blue/colors";
  @import "themes/blue/components/Icon";

  .row.details {
    color: $gold1;
  }

  .row.footer .timer {
    color: $blue1;
  }

  ul.body.stream {
    li.ayah {
      span.title span {
        color: $gold1;
      }
      p { }
    }
  }
}

.root .content.theme.blue.ar {
  @import "themes/blue/colors";

  .row.dropdown-row {
    line-height: 30px;
    span.surah-name {
      color: lighten($gold1, 25%);
    }
  }
}
