.root .content.theme.blue {
  @import "themes/blue/colors";
  @import "breakpoints";

  header {
    div {
      .localized-name, .transliterated-name { color: $secondary-color; }
    }
  }

  ul.body.stream {
    li.ayah {
      span.title span {
        color: $secondary-color;
      }
      p { }
    }
  }

  footer {
    .timer {
      color: $primary-color;
    }
  }
}

.root .content.theme.blue.ar {
  @import "themes/blue/colors";

  header {
    div {
      .localized-name {
        color: $primary-color;
      }
    }
  }
}
