.root .content.theme.blue {
  @import "themes/blue/colors";
  @import "breakpoints";

  ul.body.index {
    li.surah a {
      &:active, &:link, &:visited {
        color: $primary-color;
      }

      @media (hover: hover) {
        &:hover {
          background: $accent-color;
        }
      }

      span.id {
        color: $secondary-color;
      }
    }
  }

  footer {
    @media (max-width: $breakpoint-sm) {
      border-top: 1px solid $primary-color;
    }
    a {
      &:active, &:link, &:visited {
        color: $primary-color;
        text-decoration: none;
      }
      &:hover {
        font-weight: bold;
      }
    }
    input {
      border: 1px solid $secondary-color;
      &:focus {
        outline-color: $secondary-color;
      }
    }
  }
}

.root .content.theme.blue.en {
  @import "themes/blue/colors";
  header {
    div {
      color: $secondary-color;
    }
  }
}

.root .content.theme.blue.ar {
  @import "themes/blue/colors";
  ul.body.index  {
    li.surah a {
      span.id {
        color: $secondary-color;
      }
      span.name {
        color: $primary-color;
      }
    }
  }
}
