.root .content.theme.blue {
  @import "colors";

  header {
    h1 , h1 a { color: $blue1; }
    nav .react-select {
      color: $gold1;
    }
    nav .react-select.language {
      ul li {
        background: $blue1;
        color: $white;
        border: 3px solid lighten($gold1, 5%);
      }
    }
  }
}
